.errorContainer {
  color: var(--main-font-color);
  display: flex;
  width: 100%;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.errorContainer h1 {
  text-align: center;
}
.figureChanBanner {
  width: 300px;
  height: 300px;
  margin-bottom: 1rem;
}
