* {
  font-family: var(--font-formal-family);
}
.mainContainer {
  background: linear-gradient(0deg, rgba(0, 0, 0, 0.623), rgba(0, 0, 0, 0.623)),
    url("../assets/godzilla.jpeg");
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-color: rgba(27, 27, 27, 0.75);
}
.formPageContainer {
  min-height: 100vh;
  width: 35%;
}
.loginFormHeader {
  color: var(--main-font-color);
  font-weight: 600;
  font-size: 2.1rem;
  display: flex;
  justify-content: center;
  margin-bottom: 0.3rem;
}
.loginFormSubHeader {
  display: flex;
  justify-content: center;
  color: var(--main-font-color);
  font-weight: 500;
}
.loginFormSubHeader a {
  color: var(--main-font-color);
  text-decoration: underline;
}
.loginFormSubHeader a:visited {
  color: var(--main-font-color);
}
.loginFormHeaderContainer {
  margin-bottom: 1.5rem;
}
.loginLabel {
  font-size: 1rem;
  color: var(--main-font-color);
  margin-bottom: 0.6em;
}
.formSubContainer a {
  text-decoration: underline;
  color: var(--main-font-color);
}
.formSubContainer {
  display: flex;
  justify-content: space-between;
  margin-bottom: 1.3rem;
}
.formSubContainer input {
  transform: scale(1.3);
}
.formField {
  font-size: 1.5rem;
  margin-bottom: 1rem;
  border-radius: 5px;
  padding: 0.3rem 0.5rem;
  outline: 0;
  border: 1px solid rgb(107, 107, 107);
  background-color: var(--form-field-bg-color);
  color: var(--main-font-color);
}
.formSubmitBtn {
  padding: 0.5rem 0.8rem;
  font-size: 1.2rem;
  width: 100%;
  outline: none;
  border: none;
  cursor: pointer;
  border-radius: 5px;
  background-color: var(--layout-bg-color);
  color: var(--main-font-color);
}
.formSubmitBtn:hover {
  color: var(--main-font-color);
  background-color: var(--layout-sub-drk-bg-color);
}
.formField:focus {
  border-bottom: 1px solid white;
}
.usernameContainer,
.passwordContainer {
  display: flex;
  flex-direction: column;
}

@media screen and (max-width: 719px) {
  .loginFormHeader {
    font-size: 1.5rem;
  }
  .loginFormSubHeader {
    font-size: 0.8rem;
  }
  .formPageContainer {
    width: 90%;
  }
}
@media screen and (min-width: 720px) and (max-width: 1023px) {
  .formPageContainer {
    width: 60%;
  }
}
