* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
:root {
  --layout-bg-color: #a83364;
  --layout-text-color: #ffa3ca;
  --layout-sub-drk-bg-color: #7a0938;
  --layout-sub-hover-color: #911d4d;
  --layout-sidenav-hover-color: #6d0832;
  --subheader-options-mobile: #5e0228;
  --layout-sub-sidenav-hover-color: #86234c;
  --layout-announce-bg-color: #ccccff;
  --layout-widget-bg-color: rgb(46, 46, 46);
  --font-formal-family: "Helvetica", "Roboto";
  --font-component-header-family: "Roboto", "Avenir";
  --form-field-bg-color: rgb(39, 39, 39);
  --main-font-color: white;
  --sub-font-color: rgb(209, 209, 209);
  --home-inner-bg-color-hover: rgba(65, 65, 65, 0.99);
  --home-inner-bg-color: rgba(54, 54, 54, 0.99);
  --home-inner-container-bg-color: rgba(27, 27, 27, 0.5);
  --input-select-bg-color: rgba(82, 82, 82, 0.99);
  --input-select-bg-hover-color: rgb(133, 133, 133);
  --input-btn-bg-color: rgb(110, 110, 110);
  --input-radio-text-color: rgb(230, 199, 25);
}
main {
  min-height: 100vh;
  background: rgb(231, 231, 231);
}
